/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Nunito:wght@400;600&family=Open+Sans:ital,wght@0,400;0,500;1,400;1,500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .content-data {
    @apply flex w-full flex-col space-y-7;
  }

  .content-data-28rem {
    @apply flex  w-[28rem] flex-col items-center;
  }

  .navbar-background {
    /*@apply bg-slate-200/50 dark:bg-slate-900/70;*/
    @apply bg-slate-200 dark:bg-slate-900;
  }

  .readable-background {
    @apply rounded bg-stone-100/40 dark:bg-zinc-950/30;
  }

  .border-color {
    @apply border-slate-400 dark:border-slate-700;
  }

  .bg-heropattern {
    @apply heropattern-circuitboard-slate-200/50 dark:heropattern-circuitboard-slate-800/50;
  }

  .translate-animation {
    @apply transition-all duration-500;
  }

  .image-dark {
    @apply dark:opacity-90 dark:grayscale-[10%];
  }

  /* https://codepen.io/JoeHastings/pen/gPrPMo?editors=1100 */
  p.bubble {
    @apply relative mx-[2.5rem] my-auto w-[16rem] rounded-[2rem] border-4 border-slate-800 p-5 text-center font-open_sans text-lg font-medium italic leading-6 dark:border-slate-400;
  }

  p.thought {
    @apply w-80 rounded-full p-6;
  }

  p.bubble:before,
  p.bubble:after {
    content: ' ';
    @apply absolute h-0 w-0;
  }

  p.thought:before,
  p.thought:after {
    @apply -bottom-9 left-3 h-9 w-9 rounded-[1.75rem] border-4 border-slate-800 dark:border-slate-400;
  }

  p.thought:after {
    @apply -bottom-14 left-2 h-5 w-5 rounded-[1rem];
  }

  .loader-dots-container {
    @apply flex flex-col items-center gap-[1rem] text-[1.4rem] italic text-slate-600/75 dark:text-slate-400/75;
  }

  /* CREDIT: https://dev.to/afif/i-made-100-css-loaders-for-your-next-project-4eje */
  .loader-dots {
    width: 4rem;
    height: 2rem;
    background:
      radial-gradient(circle closest-side, currentColor 90%, #0000) 0% 50%,
      radial-gradient(circle closest-side, currentColor 90%, #0000) 50% 50%,
      radial-gradient(circle closest-side, currentColor 90%, #0000) 100% 50%;
    background-size: calc(100% / 3) 0.8rem;
    background-repeat: no-repeat;
    animation: loader-dots 800ms infinite linear;
  }

  @keyframes loader-dots {
    20% {
      background-position:
        0% 0%,
        50% 50%,
        100% 50%;
    }
    40% {
      background-position:
        0% 100%,
        50% 0%,
        100% 50%;
    }
    60% {
      background-position:
        0% 50%,
        50% 100%,
        100% 0%;
    }
    80% {
      background-position:
        0% 50%,
        50% 50%,
        100% 100%;
    }
  }

  /* https://dev.to/afif/i-made-100-css-loaders-for-your-next-project-4eje */
  .loaderBars {
    width: 4rem;
    aspect-ratio: 0.75;
    --c: no-repeat linear-gradient(theme(colors.amber.700) 0 0);
    background:
      var(--c) 0% 50%,
      var(--c) 50% 50%,
      var(--c) 100% 50%;
    background-size: 20% 50%;
    animation: loadingBars 1s infinite linear;
  }

  @keyframes loadingBars {
    20% {
      background-position:
        0% 0%,
        50% 50%,
        100% 50%;
    }
    40% {
      background-position:
        0% 100%,
        50% 0%,
        100% 50%;
    }
    60% {
      background-position:
        0% 50%,
        50% 100%,
        100% 0%;
    }
    80% {
      background-position:
        0% 50%,
        50% 50%,
        100% 100%;
    }
  }
}
